<div class="container">
  <h1>Angular 7 - Day 3</h1>
  <!-- <app-parent></app-parent> -->
  <!-- <app-test-observable></app-test-observable> -->
  <!-- <app-observableuser></app-observableuser> -->
  <!-- <app-posts></app-posts> -->
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parentchild">Parent Child Demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">User List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">Posts List</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>